*{
   box-sizing: border-box;
}
body{
   margin: 50px;
   font-size: 17px;
}



p{
   color:blue;
   font-weight: bold;
   font-family: serif,Arial, Helvetica;
   text-align: center,justify,right,left;
}


a{
   text-decoration: none;
   color: black;
}

a:hover{
   text-decoration:underline;
   color: red;
}